body {
    line-height: 1.5;
}


header,
nav {
    padding: 5px 5px 5px 3px;
    margin: 3px;

}

nav ul li {
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    padding: 5px 5px 5px 3px;
    font-size: 30px;
    background-color: #86A3B8;
}

nav a {
    text-decoration: none;
}

a:visited {
    color: #000000;

}

nav a.current {
    /* Set text decoration, transformation, and underline properties */
    text-transform: uppercase;
    text-decoration-style: wavy !important;
    text-underline-position: under !important;
}


h1 {
    /*Set font and font size*/
    font-family: Merriweather, Anton, 'Times New Roman', Arial;
    font-size: 55px;
}

h2 {
    /*Set font, font size, and alignment*/
    font-size: 35px;
    font-family: Anton, 'Times New Roman', Arial;
    text-align: center;
}

h3 {
    /*Set font size*/
    font-size: 25px;

}

h1,
h2,
h3 {
    /*Set margin */
    margin: 3px;

}

.grid {
    /*Set width, margin, border properties, background color, and grid properties */
    width: 90%;
    border-radius: 3px;
    display: grid;
}

.grid div {
    /* Set border properties, padding, and background color */

}

.grid img {
    /* Set width, margin, and display */
}


.grid div:nth-child(3n+1) {
    /* Set box shadow */
}

.grid div:nth-child(3n) {
    /* Set box shadow */
}

.grid div:nth-child(3n+2) {
    /* Set box shadow */
}


p+p {
    /* Set indentation */
    text-indent: 20px
}

p {
    /* Set margin */
    margin: 5px;
}


.grid ul li {
    /* Set margin, line-spacing, list styling  */
    line-height: 1;
    list-style-image: url("images/sketchbook.png");
    margin-bottom: 10px;
    margin-left: 10px;
}